# Prerequisites
*.d
*.vs

# Folders
Bin/
intermediate/
Temp/
Lib/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Debug
*.pdb
*.ilk
*.exp
*.idb
*.log

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
